.hero-title {
    font-size: 80px;
    font-weight: bold;
    line-height: .9;
}
.hero-span {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 85px;
}
.hero-text {
    font-size: 22px;
    /* color: var(--color-muted); */
}
.hero-main-btn {
    background-color: var(--color-primary);
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
.hero-second-btn {
    background-color: var(--color-background);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 10px;
}
.hero-main-btn:hover,
.hero-second-btn:hover {
    opacity: .8;
}  