.offcanvas-body-wrapper {
  padding: 1rem;
  direction: rtl;
  font-family: "Cairo", sans-serif;
  background: var(--color-background-light);
  color: var(--color-text-dark);
}

.search-box input {
  border-radius: 12px;
  border: 1px solid var(--color-brand-secondary);
  padding: 10px 14px;
  font-size: 14px;
  transition: 0.3s;
  background: #fff;
}

.search-box input:focus {
  border-color: var(--color-brand-primary);
  box-shadow: 0 0 6px rgba(230, 57, 70, 0.4);
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  background: var(--color-background-dark);
  border-radius: 12px;
  padding: 4px;
  position: relative;
  overflow: hidden;
}

.tab-btn {
  flex: 1;
  position: relative;
  border: none;
  background: transparent;
  color: var(--color-text-light);
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  transition: color 0.3s;
}

.tab-btn:hover {
  color: var(--color-highlight-yellow);
}

.active-bg {
  position: absolute;
  inset: 0;
  background: var(--color-brand-primary);
  border-radius: 10px;
  z-index: -1;
}

.tab-btn.active {
  color: var(--color-text-light) !important;
}

.tab-text {
  position: relative;
  z-index: 2;
}
