@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');


:root {
  --primary-color: #16a249;
  --secondary-color: #f4f4f6;
  --black-color: #1f2937;
  --light-color: #f9fafb;
  --destructive-color: #ef4444;
  --border-color: #e5e7eb;
  --radius: 0.5rem;

  --font-cairo: 'Cairo', sans-serif;
}


/* Apply to body */
body {
  font-family: var(--font-cairo);
}

/* Toast */

.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-width: 300px;
}

.toast-wrapper .toast-image {
  width: auto;
  height: 50px;
  object-fit: cover;
}

.toast-wrapper strong {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.toast-wrapper .toast-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.toast-wrapper .toast-content .btn {
  margin-top: 5px;
  font-size: 13px;
}